body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.top, footer {
    background-color: #1F2937;
}

.top {
    display: flex;
    flex-direction: column;
    padding: 8px 120px 30px 120px;
    margin: 0px;
    border: 0px;
}

.header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 48px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: center;
    gap: 50px;
}
.text {
    margin-right: auto;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #E5E7EB;
    padding: 6px 30px;
    font-weight: 700;
    font-size: 20px;
}

img {
    width: 400px;
    height: auto;
}




.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 150px 50px 150px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.item {
    text-align: center;
    flex: 0;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}